---
title: blog
---

<html>
<head>
    <title>Sean Conlon</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
        machine learning,
        statistical machine learning,
        bayesian inference,
        statistics,
        computer science
    '>
    <meta name='author' content='Sean Conlon'>
    <link rel="icon" type="/img/icon.jpeg" href="/img/icon.jpeg">
    <link href='/css/blog.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body>
    {% include nav.html %}
    <div id='blog' class='wrap'>
        <div class="container">
            <h1>Sean Conlon</h1>
            <p>I am a Quantitative Analyst / Developer from Sydney, Australia. This is where I write about things that 
                interest me, which is mostly Finance, Computer Science and Mathematics.
                Please reach reach out to me at sc.[first].[last]@gmail.com</p>
          </div>
    </div>
</body>
</html>
